body{
    background-image: url('/img/wallpaper-banner.jpg');
    background-size: cover;   
}
.container{
    position: relative;
    background: #0018;
    min-height: 100vh;
    box-shadow: cyan 0px 0px 30px;
    padding: 0px;
    overflow: auto;
}
.dropdown-item{
    color: rgb(255,255,255,0.5)
}
.button-modal{
    margin: 20px 0px 0px 0px;
}
.modal-body{
    padding: 10px;
}
.modal-content{
    box-shadow: cyan 0px 0px 30px 0px;
}
.modal-style{
    background: #0018;
    color: rgb(255,255,255,0.5);
}
.modal-input{
    width: 100%;
    background-color: rgb(255,255,255,0.5);
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    color: rgb(255,255,255,0.5);
}

.social-footer{
    display: flex;
    flex-direction: row;
}

.social-footer li {
    margin-left: 20px;
  }
  
 .social-footer li a {
    color: #aaa;
  }
  
.social-footer li a:hover {
    color: #29a19c;
  }
.card_jogo_aberto{
    margin: 30px;
}
.card_jogo_aberto .card-body{
    color: black;
}
.tittle-stylle-1{
    font-family: Spacetime;
    color: whitesmoke;
    text-shadow: 0px 0px 22px blue;
    font-style: italic;
}